<section class="package-detail">
  <div class="">
    <div class="package-info">
      <img src="{{packageDetails.package_thumb_image}}" class="img-responsive center-block" />
      <div class="abs-description">
        <h2> MUNNAR SPECIAL </h2>
        <h3> (2 Nights / 3 Days) </h3>
      </div>
      <div class="abs-position">
        <div class="offer-price">
          <p>Price on Sharing <span class="off-price"> <i class="fa fa-usd" aria-hidden="true"></i> 70000 </span>
        </div>
        <div class="special text-center">
          <h3>Mummar Special</h3>
          <h5>2 Nights / 3 Days </h5>
          <button type="button" class="btn btn-book">proceed to booking</button>
        </div>
      </div>
    </div>
    <div class="package-width">
      <div class="pack-dtls">
        <h2>OVERVIEW</h2>
        <p class="para">{{packageDetails.overview}}</p>
      </div>
      <div class="pack-dtls">
        <h2>GOOD TO KNOW</h2>
        <p class="para">{{packageDetails.good_to_know}}</p>
      </div>
      <div class="pack-dtls">
        <h2>HIGHLIGHTS</h2>
        <p class="para">{{packageDetails.highlights}}</p>
      </div>
      <div class="pack-dtls">
        <h2>INCLUSIONS</h2>
        <p class="para">{{packageDetails.inclusion}}</p>
      </div>
      <div class="pack-dtls">
        <h2>EXCLUSIONS</h2>
        <p class="para">{{packageDetails.exclusion}}</p>
      </div>
      <div class="pack-dtls">
        <h2>TERMS</h2>
        <p class="para">{{packageDetails.term}}</p>
      </div>
    </div>
  </div>
</section>

