.package-info {
    position: relative;
}
.package-info img {
    max-height: 550px;
    min-height: 550px;
    width: 100%;
}
.abs-description {
    position: absolute;
    top: 37%;
    color: #fff;
    left: 7%;
}
.abs-description h2 {
    font-size: 48px;
    font-weight: bold;
}
.abs-description h3 {
    font-size: 36px;
    font-weight: lighter;
}
.abs-position {
    position: absolute;
    top: 28%;
    left: auto;
    right: 5%;
    max-width: 320px;
    z-index: 99;
}
.offer-price {
    background-color: #A01D26;
    padding: 10px;
    text-align: center;
    border-radius: 4px 4px 0 0;
}
.offer-price p {
    font-size: 11px;
    color: #e5e2e2;
    margin-bottom: 0;
}
.off-price {
    font-size: 22px;
    margin-left: 10px;
}
.special {
    background:#253035 ;
    color:#fff;
    padding: 0 25px 25px;
    border-radius: 0 0 4px 4px;
}
.special h3 {
    margin-top: 0;
    font-size: 36px;
    padding-top: 32px;
    text-transform: uppercase;
}
.special h5  {
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-book, .btn-book:hover, .btn-book:focus {
    background: #A01D26;
    border-color:#A01D26 ;
    color:#fff;
    text-transform: uppercase;
}
.package-width {
    width: 80%;
    margin: auto;
}
.pack-dtls {
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.75);
    margin: 30px 0;
}
.pack-dtls h2 {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
}
.pack-dtls .para {
    padding: 20px 10px;
    margin-bottom: 0;
    text-align: justify;
}