<div id="nav-bar" class="navbar-fixed-top">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand mr-auto" routerLink=""><img src="../assets/images/RockSpringBreak.png" alt="Logo" class="img-responsive" /></a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/flights">Flights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/hotels">hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="#">photos & videos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="#">tours and activities </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/packagelisting">packages </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-red"  routerLink="#">unlock spring break </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/login">Login</a>
          <a class="dropdown-item" routerLink="/Register">Register</a>
          <a class="dropdown-item" routerLink="/Forget">Forget Password</a>
        </div>
      </li>
    </ul>
  </nav>




<!--
  <nav class="navbar navbar-default">
    &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  routerLink="" ><img src="../assets/images/RockSpringBreak.png" alt="Logo" class="img-responsive" /></a>
    </div>
    &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a  routerLink="/flights">flights<span class="sr-only">(current)</span></a></li>
        <li><a  routerLink="/hotels">hotels</a></li>
        <li><a  routerLink="#">photos & videos </a></li>
        <li><a href="#">tours and activities</a></li>
        <li><a routerLink="/packagelisting">packages</a></li>
        <li><a href="#" class="text-red">unlock spring break</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </li>
      </ul>
    </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
  </nav>
-->
</div>