<section class="main-forget">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="forget">
          <form [formGroup]="forgetForm" (ngSubmit)="onForgetSubmit(forgetForm.value)">
            <div class="form-group">
              <label for="email">Enter Email ID:</label>
              <input type="email" class="form-control" id="email" [formControl]="forgetForm.controls['email']">
              <span class="text-danger" *ngIf="forgetForm.controls['email'].touched && !forgetForm.controls['email'].valid">Not Valid</span>
            </div>
            <button type="submit" [disabled]="!forgetForm.valid" class="btn btn-success pull-right">Reset</button>
            <div class="clearfix"></div>
            <span class="text-danger"  >{{ validationErrors }}</span>

            <br>
            <div *ngIf="successMessage" class="alert alert-success">
              {{ successMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>