<section class="exclusive">
  <div class="container-fluid">
    <div class="exclusive-width">
      <div class="row">
        <div class="col-sm-8">
          <div class="exclusive-details">
            <h3>Exclusive Tonight Only Deals.  Only in <br /> the App.</h3>
            <p>Discover hotel, flight and package deals exclusively in our app</p>
            <p>Download today to stay connected with important trip detials</p>
            <p>-anytime, anywhere</p>
            <div>
              <img src="../assets/images/google-play.png" />
              <img src="../assets/images/app-store.png" />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="exclusive-banner">
            <img src="../assets/images/mobile-app.png" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>