<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-links">
          <h3>Our site</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Book Now</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-links">
          <h3>Our site</h3>
          <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pinterest</a></li>
            <li><a href="#"> <i class="fa fa-tumblr" aria-hidden="true"></i> Tumblr</a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <div class="join-us">
            <h3>Join our email list for discount and updates!</h3>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email..." aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><i class="fa fa-angle-right" aria-hidden="true"></i> </button>
              </span>
            </div>
          </div>
          <div class="footer-banner">
              <h4>We are your ultimate spring break connection!</h4>
              <img src="../assets/images/prototype.png" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="copyrights">
          <p>Copyright &copy;  2017 RockSpringBreak.com</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pay-pal">
          <img src="../assets/images/pay.png" class="paypal pull-right" />
        </div>
      </div>
    </div>
  </div>
</footer>