<section class="board-members text-center">
  <div class="container-fluid">
    <div class="main-members">
      <h3>Spring Breakers Onboard</h3>
      <h5>Come, Join with Other!</h5>
      <div class="board-mem">
        <div class="row">
          <div class="col-sm-3">
            <div class="single-member">
              <img src="../assets/images/user1.png" class="" />
              <div class="text-left">
                <h4>Andria</h4>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Miamia, 12 min ago</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-sm-3">
            <div class="single-member">
              <img src="../assets/images/user2.png" class="" />
              <div class="text-left">
                <h4>Julian</h4>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Florida, 45 min ago</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-sm-3">
            <div class="single-member">
              <img src="../assets/images/user1.png" class="" />
              <div class="text-left">
                <h4>Tim</h4>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Texas, 12 min ago</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-sm-3">
            <div class="single-member">
              <img src="../assets/images/user2.png" class="" />
              <div class="text-left">
                <h4>Andria</h4>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Miamia, 12 min ago</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="advatisement-banner">
        <img src="../assets/images/advert.jpg" class="center-block img-responsive" />
      </div>
    </div>
  </div>
</section>